* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    height: 200px;
    background: linear-gradient(45deg, #f19c9c, #a0e7e5, #ffb5e5);
    margin: 0%;
    text-align: center;
    position: fixed;
    
    z-index: 1000;
}

header h1 {
    margin: 0;
    font-size: 36px;
    color: #333;
    /* Color de las letras en contraste */
    font-style: italic;
    /* Letras en cursiva */
}

nav {

    display: inline-block;
    margin-top: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: #333;
    /* Color de las letras en contraste */
    font-size: 18px;
}

main {
    margin-top: 100px;
    /* Ajusta la posición del main debajo del header fijo */
    border-top: 1px solid #ccc;
    /* Línea horizontal que separa header de main */
    padding: 20px;
}

/* Resto del código */

footer {
    text-align: center;
    padding: 20px 0;
    background: linear-gradient(45deg, #a0e7e5, #f19c9c, #ffb5e5);
    color: #333;
    /* Color de las letras en contraste */
}